[2019-01-03 08:28] navinthenapster opened #5 "Does corda have a stable API or sdk for wallet handling and cash management?"
If yes, can you recommend some

[2019-02-17 16:52] kid101 opened #8 "[question] I couldn't find the design doc for this. can someone please point it to me."

[2019-02-17 21:21] manosbatsis commented on #8
+1 on adding more documentation and/or a sample app using the SDK, would also make it easier for others to pitch in ;-)

[2019-02-20 11:01] roger3cev commented on #8
Sure, sorry guys...!!!

There is a design doc in the corda repo [here](https://github.com/corda/corda/blob/rog-tokens-design-doc/docs/source/design/tokens/design.md).

It needs updating but the basic concepts are still the same.

I'll be adding more docs ASAP. You are all more than welcome to pitch in as well! @illoyd is also going to have a crack at some docs - so maybe catch up with him on the C

[2019-02-20 11:01] roger3cev commented on #8
Am I OK to close this one? Cheers

[2019-02-20 11:03] roger3cev commented on #5
Hi @navinthenapster,

Sorry for the slow response - I neglected to look at the issues!

Not yet - this is on the roadmap. The idea will be for clients to generate public /private key pairs, then share the public key with the node they wish to use. Signing will be done client side. The effect is that users have control over their states.

Can you be more specific around what you need for "cash mana

[2019-02-20 11:04] kid101 commented on #8
Yup

[2019-02-22 13:23] roger3cev commented on #8
Cheers!

[2019-02-22 13:23] #8 closed

[2019-03-03 16:16] manosbatsis opened #10 "Issues with master"
Master has a failed test, plus needs version updates to Corda 4.0 and gradle plugins 4.0.41

[code]

The failed test stacktrace is

[code]

[2019-03-07 01:00] #10 closed

[2019-03-17 09:56] illoyd opened #15 "Match cordapp-template-kotlin directories"
The `contract` and `workflow` directories should be renamed to `contracts` and `workflows` to be inline with the [corda/cordapp-template-kotlin](https://github.com/corda/cordapp-template-kotlin) repository.

[2019-03-19 13:45] manosbatsis opened #19 "Allow additional transaction items"
Does it make sense to modify the SDK flows in such a way as to allow additional transaction items? For example, consider custom contracts/states used on the road to issuance in some cordapp; wouldn't it be useful to have those updated within e.g. the `IssueToken.Initiator`'s transaction by injecting the corresponding, custom input/output/command TX items?

[2019-03-19 13:51] RyanGled commented on #19
Keen for this.
Unless I'm misunderstanding, this should allow for transaction atomicity of two separate, but accompanying CorDapps when using the Token SDK as a payment layer.

[2019-03-19 14:07] manosbatsis commented on #19
@RyanGled exactly. Perhaps an approach would be refactoring in a way to provide abstract/base flow implementations that can be extended for this by cordapps, without necessarily making it possible with the ready-to-use flows.

[2019-03-19 14:10] RyanGled commented on #19
That sounds like a great idea.
Enabling the effortless interoperability of Tokens/Payment layers with existing CorDapps should encourage SDK use considerably...

[2019-03-25 09:08] roger3cev commented on #19
Hey guys (@manosbatsis @RyanGled),

Sorry for the slow reply here. I need to pay more attention to the github issues - I'll remind myself to check it every day :)

If we can come up with a neat way to build these types of flows from simple abstractions then I'm all ears but I don't think we should extend the default issue/move/redeem flows to allow provision of other state types. The business logi

[2019-03-25 11:11] RyanGled commented on #19
@roger3cev The notary batching feature sounds like exactly what we need, it would allow effortless interop between any number of CorDapps - huge.

Would be worth collating a list of people interested, perhaps we can set up some sort of working group to help get this off the ground.

[2019-03-25 13:50] mikehearn commented on #19
Ryan asked me to comment on the app interop and notary batching aspects.

1 - notary batching; to be clear, what Roger is talking about here is a privacy optimisation, it doesn't change what combinations of apps you can do or anything else about the data model. A single Corda transaction can have many different contributions from many different apps all at once, and they all apply atomically. Also

[2019-03-25 17:20] roger3cev commented on #15
Thanks @illoyd - I'll add this to the backlog!

[2019-04-01 00:30] illoyd commented on #15
Where can we see the backlog? (In the front page as a list?) I can help to close some items where it makes sense.

[2019-04-01 08:46] roger3cev commented on #15
Sorry the backlog unfortunately is on the Corda Enterprise JIRA board, which is private..  I'm trying to get it moved to a public board, so everyone can see the stories. Cheers

[2019-04-04 19:32] lmarinl1 opened #28 "Error with token sdk dependencies when deploying nodes in the kotlin cordapp template"
I'm geting the following error when running deploy nodes in the kotlin cordapp template using the token template branch. I followed the instructions in this [README](https://github.com/corda/token-sdk/blob/master/README.md)

:contracts:compileKotlin FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':contracts:compileKotlin'.

     Searched in the follo

[2019-04-04 19:39] lmarinl1 commented on #15
@illoyd, Were you able to run a cordapp using the token sdk dependencies? I've been trying to run both the cordapp-template-kotlin and another cordapp referencing the token sdk cordapp. However, I'm getting an error because the cordapp can't find the dependencies even by following the instructions in this [README](https://github.com/corda/token-sdk/blob/master/README.md)

[2019-04-10 11:46] manosbatsis opened #32 "MoveToken works with C4 but fails with Corda 5.0-SNAPSHOT"
`MoveToken` works for me on C4 but throws the following error when using Corda 5.0-SNAPSHOT:

[code]

[2019-04-10 12:41] roger3cev commented on #32
Thanks for posting this. Probably some non-backwards compatible change has been introduced into master. I'll look into it... This is happening all too often...! Grumble grumble

[2019-04-11 10:11] roger3cev commented on #28
Hi @lmarinl1 - I've fixed this and updated the token-template branch. Cheers

[2019-04-11 10:11] #28 closed

[2019-04-11 12:28] roger3cev commented on #32
Manos and I have a chat about this on slack. I tried to reproduce the error but unsuccessful so far. Have a try of my branch and see if you can reproduce through that. Cheers

https://github.com/corda/cordapp-template-kotlin/compare/token-template...rog-manos-test?expand=1

[2019-04-11 12:28] roger3cev commented on #15
@lmarinl1 this is fixed now - sorry about this!

[2019-04-11 13:12] #32 closed

[2019-04-24 08:44] IgorWolkov commented on #19
@manosbatsis I made an attempt to solve partially the problem of additional transaction items.
https://github.com/corda/token-sdk/pull/47

[2019-04-25 23:46] manosbatsis opened #49 "Distributing EvolvableToken updates"
Apologies for hijacking an issue, but how should one distribute `EvolvableToken` updates to the whole network? A distribution list probably makes sense for updating a subset of the network's nodes, so i suppose i should get a network map snapshot, filter out participants and broadcast manually?

[2019-04-26 07:35] roger3cev commented on #49
Great question! We need data distribution groups for that. See a PoC I wrote a while back: https://github.com/corda/corda/compare/rog-data-distribution-groups The idea is that parties can sign up to a group to get updates from that group. In the case of evolvable token types, we can set up a group for each evolvable token type. The groups are distributed, in that once a party receives an update, i

[2019-04-26 08:07] manosbatsis commented on #49
@roger3cev i'd give it a go if my use case needed the control. An implementation doesn't need to be smart to achieve reusability after all, adopters would want to add custom biz logic/checks. Looks like i an observer is ok for now. Thanks Roger!

[2019-04-26 08:07] #49 closed

[2019-05-03 10:53] pgrindean opened #50 "“Sender Reference” capability"
It is common practice that an operation initiator should be able to assign a reference to the transaction originated by his instruction.(see “Sender Reference”, “Originator Reference” in SWIFT messages standard)
For instance, to accommodate this requirement, the RedeemToken.InitiateRedeem flow could instantiates the TransactionBuilder object, and possibly add to it the reference states considered

[2019-05-03 15:28] roger3cev commented on #50
Thanks @pgrindean. Do you only need to only add reference data for redeeming, or do you need it for moves as well? Have you had a look at the https://github.com/corda/cash-issuer for how i did this? I added an additional state called a `NodeTransaction` which contains details of the redemption. This state is then used to help match the resulting cash payment from the issuer to the customer redeemi

[2019-05-06 12:58] pgrindean commented on #50
I think it's not unreasonable to conceive that the Token State transacting could have an external origin, i.e. an incoming "Order State" possibly intermediated by the Daemon, whose processing would initiate the MoveCash or the RedeemCash flows. It is this original presumed "Order State" which I'd like to be able to relate to the actual Token State transaction performed by the Issuer. As long as th

[2019-05-23 15:24] philippkueng opened #66 "Multiple issuance calls will cause multiple distribution list entries"
In the case when an `Issuer` issues `10 ACME` tokens to `Receiver` multiple times, this will result in the `Receiver` with a LinearId for `ACME` being included in the DistributionList multiple times. I'd say that's a bug and would expect the DistributionList to only contain a single entry for a Token(LinearId) and Party combination.

https://github.com/corda/token-sdk/blob/01adf4bbe8d7fdd88c84c225

[2019-05-23 15:27] roger3cev commented on #66
Yup that makes sense - thanks for flagging this @philippkueng. I'll fix it now 👍

[2019-05-23 16:53] roger3cev commented on #66
Fixed!

[2019-05-23 16:53] #66 closed

[2019-06-12 14:10] #5 closed

[2019-06-19 17:23] mikehearn opened #84 "Design doc uses the name "EvolvableToken" not "EvolvableTokenType" in some places"

[2019-06-19 17:35] mikehearn opened #85 "Feature request: JavaMoney interop"
http://javamoney.github.io/ is an API for doing money-related tasks in Java. We don't use it directly for various reasons but interop between the `Money` and `FiatCurrency` types might be useful for many developers.

[2019-06-20 10:14] roger3cev commented on #85
Thanks @mikehearn I'll look into it!

[2019-06-20 10:17] roger3cev commented on #84
@kasiastreich one for you as docs boss

[2019-06-20 11:08] kasiastreich commented on #84
On it boss!

[2019-06-26 11:04] roger3cev commented on #84
Fixed

[2019-06-26 11:04] #84 closed

[2019-07-09 17:16] countfloyd opened #115 "Cannot deploy CorDapp with tokens SDK 1.0 and Corda 4.1"
Running deployNodes gets an error because 'R3' doesn't have 2 letters:

[code]

[2019-07-10 13:21] roger3cev commented on #115
Delete your cache and try again. Cheers

[2019-07-10 13:21] #115 closed

[2019-07-10 14:06] chrisciszak opened #117 "RedeemFungibleTokens flow not working when passing observers"
We are trying to implement Token SDK into our existing project. Issuance and Move commands are seem to be working fine. However, RedeemFungibleTokens fails when observers are passed to the flow. I replicated the problem with cordapp-template-kotlin TokenSDK branch.

The error is below:

**OBSERVER NODE:**

invocation_timestamp=2019-07-10T13:59:56.665Z, origin=O=PartyB, L=New York, C=US, session_id

[2019-07-15 10:56] chrisciszak commented on #117
Is there anything else I could provide to help you with this issue?

[2019-07-16 15:02] nimmaj opened #119 "There is a token group with no assigned command"
Hi All,

We had an issue today with 1.0 t-sdk.  Thanks for all the help debugging.  The conclusion seems to be that we called addMoveToken twice for tokens that have the same grouping, this pulls in two commands and then we blow up later with the following exception:

[code]

Thanks :-)

[2019-07-16 15:06] roastario commented on #119
Thanks!

Yes, we will extend the error message to display the groups detected, and the commands that match them, along with some extra documentation around making sure to add tokens of the same type+issuer at the same time.

hopefully this will help others facing the same issue.

[2019-07-16 15:37] kasiastreich commented on #117
Hi Chris, I will take a look at this issue, and will let you know if I need any more info. Thank you for raising!

[2019-07-17 10:51] kasiastreich commented on #117
@chrisciszak quick heads up, I reproduced the error fix in on the way

[2019-07-18 10:13] kasiastreich commented on #117
https://github.com/corda/token-sdk/pull/121 should fix the issue

[2019-07-18 10:13] #117 closed

[2019-07-21 07:42] manosbatsis opened #123 "Update observer vaults in EvolvableToken create/update flows"
We have use cases where a third party needs to be aware of an `EvolvableToken` as the initiator of a process without having previously participated in transactions that contain it. Up to now we were hijacking `EvolvableToken#participants` to update such a party's vault when creating/updating evolvable tokens but this is essentially a hack; it would be preferable to properly use observers in `Creat

[2019-07-22 09:58] kasiastreich commented on #123
Thanks for raising, it got omitted in the refactor. Fix should be in master today.

[2019-07-30 15:56] kasiastreich commented on #123
https://github.com/corda/token-sdk/pull/124

[2019-07-30 15:56] #123 closed

[2019-09-06 18:32] TywinLannister1313 opened #133 "Issues with import statements using latest token-template"
If I follow the instructions in the documentation for the Corda Token SDK Setup:

[code]

This currently produces (from build.gradle file):

[code]

If you open ExampleFlowWithEvolvableToken in IntelliJ you will see it is having trouble with the import statements:

[code]

I had been working with:
[code]

...and it had no issues. I can change the `tokens_release_version` but I just wanted to let t

[2019-09-10 12:31] kasiastreich commented on #133
Hi, thanks for raising the issue. I will take a look at it.

[2019-09-10 13:23] kasiastreich commented on #133
@TywinLannister1313 I didn't experience issues you are having. Are you sure you have correct version of token-sdk installed locally? cordapp-java-template was changed to work with 1,1-SNAPSHOT on 3rd of August

[2019-09-10 23:26] TywinLannister1313 commented on #133
@kasiastreich thank you very much for getting back to me.   Bear with me - I am sure I am making a novice mistake.  When I started experimenting with token-SDK about a month ago I only had to follow the steps outlined in the documentation:
[code]
...to get a project nicely setup and working in IntelliJ with all the new token stuff.  This week I wanted to start another project so I repeated the ste

[2019-09-11 10:49] kasiastreich commented on #133
No worries, glad to help. If you check out the token-sdk repo you can run `./gradlew clean install` command that will locally install 1.1-SNAPSHOT of the sdk. Alternatively just change your template gradle files to use `tokens_release_version = '1.0'`  (although on 1.1 there are many fixes).

[2019-10-02 13:59] mikehearn opened #137 "FiatCurrency claims to be temporary and doesn't have the claimed properties"
[code]

That doesn't look right.

[2019-10-02 14:06] kasiastreich commented on #137
Yeah, it is some legacy comment. I will change it. Thanks for raising.

[2019-10-02 14:09] mikehearn commented on #137
Exposing a currency property probably makes sense though.

[2019-10-14 14:30] manosbatsis opened #141 "DriverDSLImpl issue with 1.1-RC01/master and CE 4.2"
I'm using Corda Enterprise 4.2. When i try to change tokens SDK version to 1.1-RC01 or master i get the folowing error. I don't know how the SDK could possibly effect `DriverDSLImpl` and/or starting the test notary, but everything works as soon as i revert to the much older 1.1-SNAPSHOT.

[code]

[2019-10-14 14:43] manosbatsis commented on #141
@kasiastreich Actually I tried launching a few nodes, saw this in the log and figured out i need to add the `token-selection` dependency, maybe the docs should be updated (or i haven't read them for some time ;-)

[code]

[2019-10-14 14:44] kasiastreich commented on #141
Ok. That's better then :) I will update docs. Thanks!

[2019-10-18 15:24] adelRestom opened #144 "Method not found in "com.r3.corda.lib.tokens.selection.database.selector""
Here's the Stackoverflow post: https://stackoverflow.com/questions/58441057/method-not-found-in-tokens-selection-module/58447777#58447777

I checked your repository and the method doesn't exist there either.

[2019-10-18 15:45] kasiastreich commented on #144
Hey Adel, have you tried to delete you local token sdk dependency? I think this is due to dependencies mess up (built locally vs version in artifactory).

[2019-10-18 15:47] adelRestom commented on #144
I don't have anything built locally, all my dependencies are through `gradle.build` files.

[2019-10-18 15:49] adelRestom commented on #144
[code]

[2019-10-18 15:50] adelRestom commented on #144
[code]

[2019-10-18 16:12] adelRestom commented on #144
[code]

[2019-10-18 19:41] adelRestom commented on #144
I tried `./gradlew build --refresh-dependencies`; still getting same error.

[2019-10-19 01:56] manosbatsis commented on #144
Delete your caches, see https://stackoverflow.com/questions/13565082/how-can-i-force-gradle-to-redownload-dependencies#answer-40183066

Gradle will not download the same file even if  `--refresh-dependencies` is used. Tthe RC is not following  SNAPSHOT conventions  so it's possible Gradle treats it as a regular version/release.

[2019-10-19 10:29] manosbatsis opened #145 "Document versoning"
Apologies for being lazy, please correct me if i'm wrong bellow:

- SNAPSHOT versions are not updated at this time
- RC versions are in their place, i.e. new artifacts overwrite the version

If i'm wrong please point the way. and close.

If not, is there a reason for not rolling out SNAPSHOTS between RCs? Mavens might be an expensive conversion to break  if only to reuse the release pipeline; Ther

[2019-10-22 08:33] roger3cev commented on #144
@adelRestom did you manage to fix it? Can I close this issue? Cheers

[2019-10-22 08:34] #137 closed

[2019-10-22 08:35] roger3cev commented on #137
Fixed in https://github.com/corda/token-sdk/commit/ca4a7a307f13274d13416af23279b599a9233746

[2019-10-22 08:37] roger3cev commented on #145
Yes that's right. We don't overwrite RCs though, unless there's a dumb error that needs immediately fixing.

We definitely can roll out SNAPSHOTs and indeed we do this for the Corda binaries it's just that we haven't got round to doing it for tokens yet. Will keep you updated 👍

[2019-10-22 08:37] #145 closed

[2019-10-22 12:29] manosbatsis commented on #19
I think that with the new structure (RPC flows, inline flows, util methods) there should be enough legroom  and expect to verify early next week

[2019-10-22 17:28] adelRestom commented on #144
I deleted all cash, now I get this (even though I never changed anything in gradle.build regarding confidential Id's:
[code]

[2019-10-28 18:40] adelRestom opened #146 "Error when moving an evolvable token"
* Corda OS 4.3-RC01
* Tokens 1.1-RC01

Here's the sequence of events:
1. Create EvolvableTokenType
2. Issue a token of that type to a node
3. Move part of that amount to a new node

I get the following error:
[code]

As you can see from the picture below, I issued 10, the balance of the node is 10, I created an amount of 1 which I used in the move flow.

![Capture](https://user-images.githubuserco

[2019-10-28 19:40] adelRestom commented on #146
So to confirm that this is not something related to my work (i.e. custom flows); I used the Java template (token-template branch) and got the same error, the template uses older version of Corda and tokens SDK (4.1 and 1.0) so I guess this problem is old? I had to create a new package `token` under `com.template` and move `states` and `ExampleEvolvableTokenTypeContract` under it in order to write

[2019-10-28 19:40] adelRestom commented on #146
[FlowTests.txt](https://github.com/corda/token-sdk/files/3780354/FlowTests.txt)

[2019-10-28 19:43] adelRestom commented on #146
For the older tokens SDK version the error is:
[code]

[2019-10-29 07:01] rajeshso opened #147 "java.lang.SecurityException at FlowTests.kt in corda-template-kotlin"
I am following the documentation in https://github.com/corda/token-sdk to get the build and test the corda template. The ./gradlew test results in an error as this :
`> Task :workflows:test

com.template.ContractTests > dummy test FAILED
    java.lang.SecurityException at ContractTests.kt:7

com.template.FlowTests > dummy test FAILED
    java.lang.SecurityException at FlowTests.kt:9`

I want to ju

[2019-10-29 12:22] roger3cev commented on #147
What version of Java are you using and on what platform?

[2019-10-29 12:23] roger3cev commented on #146
Thanks @adelRestom - we'll look into this and get back to you

[2019-10-30 12:55] mikehearn opened #148 "Feature request: decentralised interest rate application"
This is a draft design document for interest rates support in the tokens SDK.

## Overview

Some users want to apply interest rates to their tokens.

This feature can be used to implement different kinds of monetary policy. For instance, an unbacked token with a positive interest rate that decreases to zero over time could be used to implement a form of monetary distribution similar to what Satosh

[2019-10-30 15:40] RyanGled commented on #148
This has been a topic of discussion for some time at Ivno HQ, so some points that may or may not be helpful:

- We've been considering the concept of market cut-offs, and how this could (should) differ to the tradition central/commercial bank model.
Our earliest design was to choose an arbitrary time and apply rate changes to the token within this time window. The problem you have here is that if

[2019-10-31 13:27] mikehearn commented on #148
I guess you can't end up with negative token amounts, that'd be an obligation wouldn't it. The contract should prevent that from happening: the tx would be invalid if there aren't enough tokens to make the payment after interest rates are applied.

However you don't want to discover that at tx verification time, so the vault/SDK needs some notion of balance with rates applied. I think if there's a

[2019-10-31 21:36] adelRestom opened #149 "QueryUtilities.heldTokenAmountCriteria doesn't return correct balances when used with accounts."
* Corda OS 4.3-RC01
* Tokens 1.1-RCO01
* Accounts 1.0-RC04
* Confidential Identities 1.0-RC03

I'm trying to achieve the following:
1. Create 2 accounts on the same node.
2. Issue tokens to both accounts.
3. Get the balance of each account.

I added the below test inside `AnotherTest.kt` which is part of the **Accounts Library** under `examples \ tokens-integration-test`.
If you run the test you w

[2019-11-01 13:16] mplatt opened #150 "Hibernate infers incorrect column type for token_class on Azure SQL"
Hibernate infers the type `varchar(255)` for the fields `PersistentFungibleToken.tokenClass` and `PersistentNonFungibleToken.tokenClass`. The Liquibase migration script creates both columns as `NVARCHAR(255)`. This leads to the following exception when starting Corda with Token SDK 1.0 deployed after executing the migration.
This has been observed when connecting to an Azure SQL database using the

[2019-11-01 14:40] roger3cev commented on #149
You need to specify the account you are performing the query for... !

https://github.com/corda/accounts/blob/master/docs.md#querying-the-vault-by-account

[2019-11-01 14:40] #149 closed

[2019-11-01 14:41] #146 closed

[2019-11-01 15:20] adelRestom commented on #149
Thanx Roger, I wasn't aware of this new feature; maybe add a comment to `heldTokenAmountCriteria` to explain that it queries on a node level instead of account level, so other people don't do the same mistake?

[2019-11-03 18:58] amoothart commented on #141
I've also run into this and adding `token-selection` to my cordapp did not resolve the issue. The integration tests in the token-sdk on master are also failing for the same reason. Any insight into how to get past this?

[2019-11-04 11:47] kasiastreich commented on #141
This is already solved on token-sdk master. You need to add `TestCordapp.findCordapp("com.r3.corda.lib.tokens.selection")` to your tests or `tokens-selection` to your cordapp

[2019-11-08 20:54] manosbatsis opened #154 "DistributionRecord error with 1.1-RC02+ on Corda Enterprise 4.2"
Upgrading from 1.1-RC01 to 1.1-RC02 or 1.1-RC05* seems to break our cordapps on Corda Enterprise 4.2.

[code]

[2019-11-12 05:35] manosbatsis commented on #19
Great work, thanks everyone.

[2019-11-12 05:35] #19 closed

[2019-11-19 09:36] roger3cev commented on #154
@manosbatsis Hey dude, sorry missed this one! Hmm looks like there might be a schema migration missing for the `DistributionRecord` table. Strange though, as we should have picked this up during testing. Do you mind providing a few more details on your setup? I.e. was it a fresh run or were you upgrading a node with existing data? Cheers

[2019-11-19 10:27] manosbatsis commented on #154
Hey @roger3cev thanks for picking this up. Error happens when I update the Tokens SDK version in build.gradle. Is Corda Enteprise 4.3 available already, i.e. will it be released along with OS from now on?

[2019-11-22 10:42] roger3cev commented on #150
Hey @mplatt did you manage to fix this? Is it worth raising a PR? Cheers dude

[2019-11-22 10:54] mplatt commented on #150
Not for 1.1, as the approach does not work inside the contracts sub project when it is built in deterministic mode. `org.hibernate` is not available in a dJVM context.
I could create a patch for 1.1 but I couldn't figure out which branch to PR against.

[2019-11-22 11:34] kasiastreich commented on #150
We spoke about on Slack, we put all fixes to master and they will be released in 1.1. Could you he issue with hibernate? Because we have our schemas in the contracts project and it works fine

[2019-11-22 12:28] mplatt commented on #150
Thanks. I'm aware of the conversation. As described in the report above,
the fix I propose is not applicable to 1.1, meaning the change would not
compile on master.

On Fri, 22 Nov 2019, 19:34 Katarzyna Streich, <notifications@github.com>
wrote:

[2019-11-22 13:43] kasiastreich commented on #150
Sorry I commented by accident, before I read the caveats of the report :)

[2019-11-26 10:40] kasiastreich commented on #154
Hey @manosbatsis could you provide me startup logs from the node that throws this exception? Also, what database are you using?

[2019-11-26 13:25] yashbhavsar007 commented on #144
Hi,
I also get a similar error.
**What I am trying to do is**
I want to use token sdk in a simple Corda kotlin template

Here I am sharing some piece of code from gradle.build
[code]

when tried to build it I got this error

[code]

[2019-11-26 13:31] kasiastreich commented on #144
Hi, this is unrelated error. Probably your gradle files are incorrect. It tells you that it couldn't find tokens-contracts 1.0. There is example full gradle file in cordapp-template-kotlin: https://github.com/corda/cordapp-template-kotlin/blob/token-template/build.gradle :)

[2019-11-26 20:41] countfloyd opened #158 "Warning message in VaultWatcherService"
During instantiation of the VaultWatcherService, the following message appears in the log:

[code]

Is this something to be concerned about?

[2019-11-27 05:24] yashbhavsar007 commented on #144
Hi @kasiastreich  I have copied the same gradle.build( https://github.com/corda/cordapp-template-kotlin/blob/token-template/build.gradle)  but still when I tried to import com.r3.corda it says r3 is undefined reference. please correct me if I am following wrong path to import packages.

[2019-11-27 07:21] yashbhavsar007 commented on #144
@kasiastreich Thank you so much for your quick response It resolved my query :)

[2019-11-27 10:33] yashbhavsar007 opened #159 "Is TransactionUtilitiesKt removed from token sdk ?"
I have received all the dependencies related to token-sdk and here I am attaching image for same
![Screenshot 2019-11-27 at 3 52 28 PM](https://user-images.githubusercontent.com/26292780/69715269-fdf34300-112d-11ea-9775-832017ba6568.png)

**What I want to do?**
I want to import com.r3.corda.lib.tokens.contracts.utilities.TransactionUtilities for below code
`        val fungibleToken = FungibleToke

[2019-11-27 10:59] zeddari commented on #5
Hi all
I'am using corda blockchain and I want to confirm that we can create wallet and send transaction inside this blockchain ?

[2019-11-27 11:16] kasiastreich commented on #159
Hi, function that you are trying to use is an extension function on TokenType: `fun TokenType.getAttachmentIdForGenericParam(): SecureHash?`. So to use it from kotlin you would call it this way: `amount.token.tokenType.getAttachmentIdForGenericParam()` (TransactionUtilitiesKt.etc is Java syntax for calling extension functions). However you don't have to use it at all, as there is a reasonable defa

[2019-11-27 11:23] kasiastreich commented on #158
Hi, thanks for raising! I will look into that.

[2019-11-27 11:26] manosbatsis commented on #154
@roger3cev  sent a log on slack as github complaints for comment size. The error occurs when running  `MockNetwork` tests after i change token SDK's version to `1.1-RC05-PRESIGN`

[2019-11-27 11:44] roger3cev commented on #154
Thanks for the logs! @kasiastreich looked into this but couldn't reproduce ... do you have any more info? E.g. corda version used etc..

[2019-11-27 11:48] kasiastreich commented on #154
@roger3cev could you send them to me?

[2019-11-27 11:52] manosbatsis commented on #154
@roger3cev Corda Enterprise 4.2, @kasiastreich i'll send them to you via slack as well

[2019-11-27 11:53] roger3cev commented on #154
Ah this wont work with 4.2 - you need at least 4.3

[2019-11-27 11:55] yashbhavsar007 commented on #159
Yes this one worked for me! Thank you for your help!

[2019-11-27 11:55] #159 closed

[2019-11-29 09:47] #147 closed

[2019-12-04 12:00] kasiastreich commented on #150
Fixed in https://github.com/corda/token-sdk/pull/160 (waiting for QA to test extensively).

[2019-12-04 12:00] #150 closed

[2019-12-04 17:59] TywinLannister1313 opened #162 "Error Redeeming self-issued Fungible Tokens"
Operating System: Windows 10
Corda: 4.3
tokens_release_version = '1.1-RC05-PRESIGN'
Testing with a MockNetwork

I have been testing token-sdk and I stumbled into an error.  It’s probably something I am doing wrong but I thought I would post it here just in case.

I’m getting the error when a Party issues FungibleTokens to itself and then redeems them using initiating flow `RedeemFungibleTokens`:

[2019-12-04 23:56] TywinLannister1313 commented on #162
Just to clarify - I am calling RedeemFungibleTokens():

`return subFlow(new RedeemFungibleTokens(amount, issuer, observers));`

[2019-12-05 22:26] TywinLannister1313 commented on #162
I tested inlined fungible token flows `RedeemFungibleTokensFlow`/`RedeemTokensFlowHandler`.

If Party A issues FungibleTokens to itself and then Party A redeems those tokens I get the same error:

_net.corda.core.flows.UnexpectedFlowEndException: Tried to access ended session SessionId(toLong=-4589550737635421977) with empty buffer_

Despite the error the vault shows that the redeem was successful

[2019-12-09 03:36] jarturocastan opened #163 "LocalTokenSelector has no generateMove function"
Hi, I try to use in memory tokens, but  the class LocalTokenSelector  has no generateMove fuction , I use token sdk 1.1-RC05-PRESIGN

[2019-12-09 20:01] jarturocastan commented on #163
This is my code :

       val notary =  serviceHub.networkMapCache.notaryIdentities.first()
            val transactionBuilder = TransactionBuilder(notary = notary)

            //Configuración
            val uuid = UUID.fromString(id)
            val queryCriteria = QueryCriteria.LinearStateQueryCriteria(null, ImmutableList.of(uuid), null,
                    Vault.StateStatus.UNCONSUMED, null)

[2019-12-10 09:29] #154 closed

[2019-12-10 13:06] kasiastreich commented on #163
Hi, the method is on the Selector abstract class that is super class of LocalTokenSelector. Probably the issue will go away after invalidating caches and refreshing gradle. Let me know if you still see the problem!

[2019-12-10 16:26] kasiastreich commented on #162
Hey, thanks for that, I suspect that this is an actual an error with session messages not being aligned properly for redeem flow, because finality flow treats sessions with yourself in a special way. Good catch! I will get that fixed

[2019-12-10 20:42] #163 closed

[2019-12-10 20:43] roger3cev commented on #162
Thanks both!

[2019-12-11 01:09] jarturocastan opened #165 "Hi, I have this problem when I try to move tokens through partys, net.corda.core.flows.UnexpectedFlowEndException: O=PartyB, L=New York, C=US has finished prematurely and we're trying to send them the finalised transaction. Did they forget to call ReceiveFinalityFlow?"
Hi, I have this problem when I try to move tokens from PartyA to Party B, this is the complete exception
[INFO ] 2019-12-11T00:55:12,869Z [Node thread-1] statemachine.StaffedFlowHospital. - Flow [7cbcd75e-cf2a-4ec7-af07-17d042c31eb6] admitted to hospital in state StateMachineState(checkpoint=Checkpoint(invocationContext=InvocationContext(origin=RPC(actor=Actor(id=Id(value=user1), serviceId=AuthSer

[2019-12-11 01:10] jarturocastan commented on #163
thank you for you help it was the cache

[2019-12-11 01:16] jarturocastan opened #166 "} java.lang.IllegalStateException: Insufficient spendable states identified for 0.01 TokenType(tokenIdentifier='MXN', fractionDigits=2)"
Hi,when trying to use open source 4,1, and 4.3 version, using both token-sdk-1.0 and the latest token-sdk-1.1. we would get very, very slow  at best 2 tx/s per node. We suspect the token-sdk is also giving us problems.  Functionally it works fine, but when trying to stress it out, we noticed  that it was very slow with logs showing this:

[WARN ] 2019-12-09T02:00:20,888Z [Node thread-1] selection.

[2019-12-11 09:17] roger3cev commented on #163
Cheers!

[2019-12-11 09:46] roger3cev commented on #166
Can you provide some more information about your set up please?

The database token selection approach will never perform particularly well. Especially if there's contention over a small amount of tokens in the vault. This is why we added in memory token selection.

Also, tokens 1.1 requires Corda 4.3.

Cheers

[2019-12-11 09:47] roger3cev commented on #165
Thanks for raising this. It might be a bug. @kasiastreich was going to look into it. Cheers

[2019-12-11 15:17] kasiastreich commented on #162
https://github.com/corda/token-sdk/pull/167

[2019-12-11 15:39] jarturocastan commented on #166
Yes, I use corda 4.3, but this error happen when I try move token in many transactions, like 30 tx/s or many, sometimes less

[2019-12-11 15:56] jarturocastan commented on #165
Ok thank you

[2019-12-11 16:21] kasiastreich commented on #165
Hi, looking at your code your send and receives don't align. For instance in `MoveFungibleTokenFlowHandler` you call:
[code]

[2019-12-11 16:21] #165 closed

[2019-12-11 23:52] jarturocastan commented on #165
Hi, I develop with any inmemory configuration and I get the same error, with this flow

    @StartableByRPC
    class IssueEvolvableFungibleTokenFlow(
            private val quantity: Double,
            private val holder: Party) : FlowLogic<SignedTransaction>() {

        override val progressTracker = ProgressTracker()

        @Suspendable
        @Throws(FlowException::class)
        overrid

[2019-12-12 11:23] kasiastreich commented on #165
Hi :) You need to annotate your flows with `@InitiatingFlow` if they are initiating. From the code snippet you pasted I guess that both of them are initiating (because they are startable via RPC). There is very good documentation on Corda flows:  https://docs.corda.net/api-flows.html Additionally, those kind of general questions are better asked on Slack, where people can answer them quicker.
Hope

[2019-12-12 11:31] roger3cev commented on #162
Thanks @kasiastreich. @TywinLannister1313 see Kasia's PR above, which fixes this issue. Thanks for raising!

[2019-12-12 11:31] #162 closed

[2019-12-12 14:59] jarturocastan commented on #165
This code is funtional in 1.0 and i can start this vía RPC, why not in 1.1?

[2019-12-12 21:18] manosbatsis commented on #165
@kasiastreich just in case: could a participant be "mistreated" if somehow added to the observer's list?

@jarturocastan code seems to have concerns mixed up a bit. You might want to try cordaledger.slack.com for help, although leaving the issue to read the docs or clear my head for a bit tends to work much better for me ;-)

[2019-12-17 00:43] TywinLannister1313 opened #169 "Error with Initiating Flow ConfidentialMoveFungibleTokens()"
Operating System: Windows 10
Corda: 4.3
tokens_release_version = '1.1-RC06-PRESIGN'
Testing with a MockNetwork

I hope I am not making a rookie mistake but I am getting an error when I call:

`ConfidentialMoveFungibleTokens(partyAndAmount, observers, queryCriteria, changeHolder));`

1) The error occurs ONLY if there is change.  If there is an amount in the vault that exactly matches the move reque

[2019-12-18 00:39] TywinLannister1313 commented on #169
I am getting the same error with the inline confidential moves:
 `ConfidentialMoveFungibleTokensFlow `/ `ConfidentialMoveTokensFlowHandler`

Example:
[code]
... so I am either making the same mistake in both places and not seeing it (very possible) or something is fishy.

[2019-12-31 10:39] prateektiwari7 commented on #10
Hi @manosbatsis

I am getting the same error. Please check:-

Flow file has

[code]

State code

[code]

Contract code

`class HouseContract : EvolvableTokenContract(), net.corda.core.contracts.Contract {

    override fun additionalCreateChecks(tx: LedgerTransaction) {
        // Not much to do for this example token.

    }

    override fun additionalUpdateChecks(tx: LedgerTransaction) {

    }

[2020-01-08 21:35] adelRestom opened #171 "DatabaseTokenSelection.selectTokens doesn't see newly issued tokens"
**Corda: CE 4.3**
**Tokens: 1.1-RC01**

My design is as following:
1. I have 2 nodes: Mint and Wallet.
2. Mint creates new tokens (calls `IssueTokens` to itself).
3. Wallet has user accounts (Account library).
4. Mint has a flow to issue tokens to accounts on Wallet (calls `MoveFungibleTokens`).
5. Mint doesn't create a circulating supply then use it, meaning I don't create 1000,000 tokens then us

[2020-01-09 09:38] roger3cev commented on #171
Thanks for the bug report.

Unfortunately we can't really do much without seeing your code. Do you have this reproduced anywhere? At a minimum it would be good to see your query criteria. Also how you generate change keys for the various moves you do.

How are you running the test? Mock Network or node driver?

[2020-01-09 09:40] roger3cev commented on #171
Also, the "10" you have circled in the image above is the size of the `ArrayList`, not the token balance.

[2020-01-09 13:53] adelRestom commented on #171
1. I can't share my code, I will work on a sample project that has the same code.
2. Yes, it's the size of the array; but I only issue tokens where the quantity is 1, so the size does represent the balance (10 states = 10 tokens).

[2020-01-09 15:12] roger3cev commented on #171
Oh wow, ok. In that case then I'll await your example. Cheers

[2020-01-09 17:42] adelRestom commented on #171
1. I built an example: https://github.com/adelRestom/tokens-sdk-issue-171.
2. The example uses a fixed token (USD).
3. The test fails for both `1.1-RC01` and `1.1-RC06-PRESIGN`.
4. Run the test `issueTest()` in debug mode and put a breakpoint inside `issueFixedToken` at line 81. You will see that the balance of the mint is updated:

![image](https://user-images.githubusercontent.com/37046080/72091

[2020-01-09 22:49] adelRestom opened #172 "Inconsistent node balance with same API call"
**Corda CE = 4.3**
**Tokens = 1.1-RC01**

* I have a REST API that queries my Mint node and returns its balance (all the tokens on my Mint node are held by the Mint).
* This API returns different results when ran multiple times consequently (I use Postman; several times within 10 minutes or so and it randomly returns a different balance) .
* I don't run any code between those calls (i.e. no issue,

[2020-01-10 09:44] roger3cev commented on #171
Thanks, I'll have a look...

[2020-01-10 10:51] roger3cev commented on #171
So you can get the first test to pass by replacing line `47` in `MintFixedToken.java`, which is:

        Amount<IssuedTokenType> amount = new Amount(quantity, issuedTokenType);

With:

        Amount<IssuedTokenType> amount = AmountUtilitiesKt.of(quantity, issuedTokenType);

Remember that `Amount`s are in cents and you should not use the Amount constructor when creating an amount otherwise the am

[2020-01-10 11:51] roger3cev commented on #171
With the first test fixed. When the second test is run...

`validationResultBeforeMinting` is `true=10000` (a balance of 100.00)

Then the `MintFixedToken` flow is called. Once it completes then there are two token states in the vault. I used (`getServiceHub().getVaultService().queryBy(FungibleToken.class).getStates()`)... One of 100.00 (created in the previous test) and another of 10,000.00 just

[2020-01-10 12:28] roger3cev commented on #171
Follow up: actually there might be an issue with the token SDK in that the `SoftLockingCondition` is _always_ set to `UNLOCKED_ONLY` by the token selection module. This might conflict with what you are trying to do which is issue and move a token in the same flow. When states are produced, they are always produced in a `LOCKED` state so they cannot be stolen by other flows. So what we need to do t

[2020-01-10 13:52] adelRestom commented on #171
Thanx Roger for your reply:
1. I always use `AmountUtilitiesKt.of(quantity, issuedTokenType);`, I just tried to write a quick example that runs and shows the problem (this example is not production ready lol).
2. Any timelines about when's the next RC, and whether it will include this fix or not?

[2020-01-10 14:15] roger3cev commented on #171
We are looking to release tokens by the end of the month. As there is a workaround for this issue (by doing the move in another flow), I don't think we need to fix the issue in this version. I haven't actually confirmed this is the issue - we would need to do some testing first. Cheers

[2020-01-10 14:25] roger3cev commented on #171
Update: Can confirm that changing line `68` in `DatabaseTokenSelection.kt` from:

            softLockingType: QueryCriteria.SoftLockingType = QueryCriteria.SoftLockingType.UNLOCKED_AND_SPECIFIED

to

            softLockingType: QueryCriteria.SoftLockingType = QueryCriteria.SoftLockingType.UNLOCKED_ONLY

fixes the issue.

[2020-01-10 14:36] roger3cev commented on #171
Actually I just changed it. See https://github.com/corda/token-sdk/pull/173

If all the tests pass then I'll merge it.

Cheers

[2020-01-10 14:51] roger3cev commented on #171
Closing this as addressed now. Cheers

[2020-01-10 14:51] #171 closed

[2020-01-10 15:09] adelRestom commented on #171
That was quick; thanx Roger.
So how do I use the new version of the SDK?

[2020-01-10 15:38] roger3cev commented on #172
Can you provide some more information. E.g. how many states are returned (across all pages) each time the method is called? How many states in total are there? With a page size of 200 and 5 pages, around 1000? how soon are you calling this method after the tokens were issued?

[2020-01-10 15:58] roger3cev commented on #172
Also by default, the sort order is not fixed, so it is expected that the page sizes will differ each time the method is called but the total (sum of all pages) should always be the same.

[2020-01-10 16:33] adelRestom commented on #172
1. I think it was around 850 records.
2. I agree on the `sort by` remark, but the total should remain the same like you mentioned.
3. I'm working on an example for you; hopefully I'll be able to recreate the issue.

[2020-01-10 16:39] roger3cev commented on #172
Also, this is not a tokens issue - it's a Corda issue, I think.

[2020-01-10 17:12] adelRestom commented on #172
Yes, I was debating on where to post this issue. I'll get back to you soon.

[2020-01-10 17:14] roger3cev commented on #172
I've done my own test:

[code]

[2020-01-10 17:17] roger3cev commented on #172
What database are you using?

[2020-01-10 17:33] adelRestom commented on #172
PostgresSQL.

[2020-01-10 17:34] roger3cev commented on #172
OK cool - try on h2 and see what happens? Cheers

[2020-01-10 17:35] adelRestom commented on #172
Ok, I'm working on it.

[2020-01-10 17:48] adelRestom commented on #172
I think I found the problem:

![image](https://user-images.githubusercontent.com/37046080/72174202-c15a6e80-339e-11ea-9346-e43d4ba9e6ca.png)

Notice the difference?
According to the below, you should never use the "double" constructor, always use the "String" constructor: https://docs.oracle.com/javase/7/docs/api/java/math/BigDecimal.html#BigDecimal(double)

Still a good finding, keep it in mind 😉

[2020-01-10 17:48] #172 closed

[2020-01-10 18:50] adelRestom commented on #172
If you must use "double" then use: https://docs.oracle.com/javase/8/docs/api/java/math/BigDecimal.html#valueOf-double-
[code]

[2020-01-10 19:00] adelRestom commented on #172
Actually I got carried away with my finding 🤦‍♂ I just remembered that I was getting different totals before using the BigDecimal. I'll continue investigating.

[2020-01-10 23:01] adelRestom commented on #172
Opened the issue under Corda repo: https://github.com/corda/corda/issues/5853

Roger, I added there an example repo and a video.

[2020-01-13 09:33] roger3cev commented on #172
Thanks - I'll get the kernel team to have a look. Cheers.

[2020-01-17 14:39] saraGeorge opened #175 "RedeemFungibleToken issue"
Hi,
I have created 2 accounts in node A.

I have issued 70 USD  to both accounts from node A.

However when I try to redeem token from first account (eg : 5 tokens) by explicitly specifying change holder attribute , redemption works the first time, however tokenHolder for remaining  65 units is changed to node A

Because of this redemption fails the second time as it explicitly checks for tokens h

[2020-01-17 15:01] adelRestom commented on #175
1. Request a new key for account A.
2. Use the returned key (the flow `RequestKeyForAccount` returns `AnonymousParty`); assigned the returned `AnonymousParty` as the change owner.
3. Please post your questions to cordaledger.slack.com or on StackOverlfow with tag Corda; the repository issues section is for reporting issues and improvements.

[2020-01-17 15:13] sandramarianegeorge commented on #175
Hi,
I have used anonymous party key as changeHolder. I am getting the same error

[2020-01-17 15:17] adelRestom commented on #175
Can help more without seeing your code really.

[2020-01-20 06:12] saraGeorge commented on #175
I use the following code to transfer :

enforceIssuerAndTokenIdentifierCheck - query criteria checks for tokens belonging to account, checks for token Issuer and token identifier.

senderKey has been generated and stored using RequestKeyForAccount flow

`subFlow(new MoveFungibleTokens(partyAndAmountForToken, ImmutableList.of(), enforceIssuerAndTokenIdentifierCheck, senderKey));`

Above code identi

[2020-01-20 06:45] #175 closed

[2020-01-23 07:10] dbasbas commented on #119
Any updates on this? Thanks!

[2020-01-23 09:04] roger3cev commented on #119
Will be added in tokens 1.2 but for now... all tokens must be linked to a token command in a transaction. If any tokens can't be grouped then you get this error. See this test code for the three reasons why you can get the error:

```    @Test fun `no token with linked command`() {
        val issuedToken = RUB issuedBy ISSUER.party

        // no output index
        transaction {
            out

[2020-02-03 23:58] scucchiero opened #177 "Fix typo in filename SateSelectionConfig.kt"
A minor thing I found whilst checking the repo.

I guess _SateSelectionConfig.kt_ (located in modules/selection/src/api) should be called **StateSelectionConfig.kt**.

[2020-02-11 17:21] roastario commented on #169
@TywinLannister1313 sorry this languished so long - I will try and replicate this.

[2020-02-11 23:25] TywinLannister1313 commented on #169
@roastario  - no worries I am sure you guys are busy.  Let me know if you find anything.  I assume it uses Confidential Identities - ?  I haven't had a chance to learn/test ci yet.  If I had to guess I'd bet I am doing something wrong with ci's setup.

[2020-02-13 17:18] adelRestom opened #180 "Unable to disable in-memory token selection if flow tests"
Corda 4.3 OpenSource
Tokens SDK 1.1

Currently in-memory selection is enabled by default, and to disable it you need to add `tokens-selection-1.1.conf` under `cordapps/config` with the following:
[code]

The above worked fine for me when running nodes locally, but I wasn't able to achieve the same for flow tests.
* Create config:
[code]

* Supply config to cordapp:
[code]
When I run my test in deb

[2020-03-03 11:02] coderguy1998 commented on #146
When I was implementing the dollar-to-house-token sample project using Kotlin I have got the same error and I'm not able to resolve it.

[2020-03-04 13:52] arhamill opened #184 "LocalTokenSelector selects redeemed tokens"
Version tested:
Corda 4.3
TokenSDK 1.1

Steps to reproduce:
1. Issue fungible tokens
2. Redeem the tokens you just issued
3. Select tokens using local token selector (this should fail as balance is 0 but doesn't)

Cause:
The vault observable used for local selection `VaultWatcherService:98` uses a criteria with `StateStatus.UNCONSUMED`. This causes updates with *only* consumption events to be miss

[2020-03-04 20:06] #184 closed

[2020-03-09 14:17] JonathanScialpi opened #186 "Build.gradle tasks (deployNodes and dependencies) missing Token-Selection CorDapp"
If you follow the instructions to get started with the token-sdk your nodes will not start because it is missing the token-selection corDapp in build.gradle.

Instructions:
![image (7)](https://user-images.githubusercontent.com/14203015/76221209-1f64d000-61ef-11ea-8dba-b62ddad96baa.png)

When starting the nodes you get the following error:
![image (6)](https://user-images.githubusercontent.com/142

[2020-03-09 14:29] #186 closed

[2020-03-25 13:21] chrisr3 opened #193 "The tokens-money module MUST NOT be fat-jarred into tokens-workflows!"
Contract verification in Corda works as follows:
- The CorDapps involved in a particular transaction are all loaded into `AttachmentStorage` and assigned an `AttachmentId`.
- A signed transaction contains a list of all of the `AttachmentId`s used to build it.
- Corda assembles all of the `AttachmentId`s inside an instance of `AttachmentsClassLoader`, which is a special "in memory" Java classloader

[2020-03-25 14:07] roastario commented on #193
This is actually a bug introduced by [this commit](https://github.com/corda/token-sdk/commit/93fb5e676851c4838cea1255b72c389f063c252e)

I'm going to unwind part of these changes to fix this.

[2020-03-25 16:14] #193 closed

[2020-04-02 15:43] amolpednekar commented on #180
Facing the same issue with flow tests

[2020-04-08 21:15] amoothart opened #196 "Unable to exit Token Type atomically when all tokens are redeemed"
Both Fungible Tokens and their corresponding Token Type cannot be redeemed in the same Corda transaction. Trying to do so results in an error where a state cannot be both a references and an input: https://github.com/corda/corda/blob/release/os/4.4/core/src/main/kotlin/net/corda/core/transactions/TransactionBuilder.kt#L644

However this seems like a valid use case when a non-fungible token (eg. a

[2020-04-09 09:43] gendal commented on #196
Hey Austin - I'll let the tokens team (@ivanr3 ?) comment on the specifics. But to the general point, this would seem to be the right design at the platform level I think... I mean: including a state as an input means "if this tx is valid and the input is currently unspent then please allow this tx to be confirmed and mark this state as spent".  Including  it as a reference means "if this input is

[2020-04-09 09:50] roger3cev commented on #196
@amoothart `EvolvableTokenType`s were created as irredeemable as the issuer of them doesn't necessarily always know who's using them. They also don't take up that much space so I didn't think it matters so much if they hang around on the ledger. In the event that all tokens -- from all issuers -- have been redeemed then it's safe to redeem the `EvolvableTokenType` state. However, let's say there i

[2020-04-09 14:34] amoothart commented on #196
Let's take a concrete example where redeeming `EvolvableTokenType` could be helpful. For a housing Cordapp a BNO may create thousands of `EvolvableTokenType`s to describe each individual property. In the event that someone buys all tokens for a property and redeems them there is no point for that house's `EvolvableTokenType` to exist anymore. And unlike the 10 Year T-Bond example each house is dif

[2020-04-13 15:29] adelRestom opened #197 "Gap in EvolvableTokenType Distribution List Logic"
**Corda 4.3**
**Tokens SDK 1.2-SNAPSHOT**

Hi,

I would like to know the reasoning behind the gap that I found in the `EvolvableTokenType` distribution list design.
Here's my example (let's follow in this example the distribution list that is stored in our maintainer: the **DMV**):

1. 5 nodes:
    - DMV: Department of Motor Vehicles; issues `CarTokenType`
    - BMW Dealership: Issues `NonFungible

[2020-04-13 23:41] adelrustum commented on #196
I was receiving emails about this discussion (since I'm subscribed to this repo), and it only hit me today during my afternoon nap lol
Austin, I think the solution to your scenario is the following:

1. Create a `SchedulableState` (call it `HouseTokenTypeRedeemer`).
2. Inside your flow that redeems your house token, instead of using the ready flows (i.e. `RedeemNonFungibleTokensFlow`), use the uti

[2020-04-14 00:12] adelrustum commented on #196
Austin, I'm not sure how you were able to exit your `EvolvableTokenType`; because it only has `Create` and `Update` commands; see [here](https://github.com/corda/token-sdk/blob/master/contracts/src/main/kotlin/com/r3/corda/lib/tokens/contracts/commands/EvolvableTokenTypeCommand.kt).
 My only assumption is that when you extended `EvolvableTokenContract`, you introduced an `Exit` command and you als

[2020-04-14 03:46] amoothart commented on #196
Great proposal @adelrustum! I will give this a try and let you know how it goes. Having to maintain a secondary `HouseTokenTypeRedeemer` state throughout the lifecycle of the `House` token seems heavyweight since it's only value is to initiate the TokenType redeem flow.

Rather than exiting a `HouseTokenTypeRedeemer` state on token exit this should be when we create this redeemer. So in your step

[2020-04-14 04:13] adelrustum commented on #196
Austin, I'm a bit confused about your approach (I think there a couple of typos):

- when we create this `redeemer` -> when we create this `token`
- then inside the `HouseTokenType` redeem -> then inside the `HouseToken` redeem

What I meant in my initial answer is the following:

1. When you `issue` the `NonFungibleToken`, you also `create` a related `HouseTokenTypeRedeemer`.
2. When you `redeem`

[2020-04-14 07:03] roger3cev commented on #196
As mentioned above, you can't generally have an exit command because you don't know who else is using the token type. Imagine your business depended on - to some degree - my token definition which I then redeem. You'd be a bit screwed then. Considering token definitions don't take up much space etc. you may as well have them on the ledger. I do not recommend redeeming them. Of course, it's up to y

[2020-08-11 08:03] mplatt opened #207 "Allow the Issuer to Record Token States"
It appears to be impossible to record a `FungibleToken` inside the _issuers_ vault during issuance or redemption.
This appears to be due to the role selection mechanism in [`ObserverAwareFinalityFlow`](https://github.com/corda/token-sdk/blob/0af2fb89d0f53663b3bf42a32a78d3be479f5dc9/workflows/src/main/kotlin/com/r3/corda/lib/tokens/workflows/internal/flows/finality/ObserverAwareFinalityFlow.kt#L65)

[2020-08-31 01:25] LHao87 opened #210 "AbstractTokenContract allows arbitrary command"
In the AbstractTokenContract, transaction verification functions are called in the following order:
`verify()` -> `dispatchOnCommand()` -> `verifyIssue()`, `verifyMove()`, or `verifyRedeem()`
In the function of `dispatchOnCommand()`, it assumes the command is one of IssueTokenCommand, MoveTokenCommand and RedeemTokenCommand
[code]
If someone makes a new command, and use it with the FungibleTokenCo

[2020-09-02 09:26] dazraf opened #211 "Make TokenSDK support high-precision assets"
As the the world of traditional and crypto gradually converges, we need to be prepared to see firms (and notably large institutional firms) looking to trade a variety of asset classes including those that require high-precision amounts. These classically include BTC, ETC and also the vast majority of Ethereum tokens. TokenSDK, being steeped in the Corda Amount, uses Longs to represent amounts (usi

[2020-09-04 16:59] dave-hudson commented on #211
Do you have some examples of asset classes where 63 bits of precision aren't sufficient? It would be great to ground this in some concrete problems.

Arbitrary precision maths is intellectually more satisfying (I wrote a C++ library to do just this a few years ago) but is not without its own set of quirks, especially around conversions to other types.

[2020-09-04 17:37] dazraf commented on #211
Thanks @dave-hudson.
Yes, Corda's 63 bit longs means that the largest absolute value that we can represent is 9,223,372,036,854,775,807.
*19 significant figures*.

Corda then applies a factor to adjust the value for the number of decimal places.
So e.g. the largest USD value that can be represented in Corda is 92,233,720,368,547,758.07.
This well within the range of ~ 1.5 trillion USD in circulati

[2020-09-16 09:36] LHao87 opened #213 "Getting incompatible return type error when extending FungibleToken in Java"
There is a question asked long time ago:
https://stackoverflow.com/questions/57650475/error-when-extending-fungibletoken-supportedschemas-in-queryablestate-clashes

As shown in the question, when extending FungibleToken, it will get the error of incompatible return type. This only happens when writing in Java. Kotlin works just fine.
This could be because the `supportedSchemas()` in the FungibleTo

[2020-09-17 21:21] TywinLannister1313 commented on #169
I am still getting this error testing ConfidentialMoveFungibleTokens with:
Corda = 4.5
Token-SDK = 1.2

The error message has changed slightly but it occurs under the same circumstances (anytime there is change to be returned in a transaction using ConfidentialMoveFungibleTokens):

`java.util.concurrent.ExecutionException: net.corda.core.CordaRuntimeException: java.lang.IllegalArgumentException: Y

[2020-10-16 02:01] TywinLannister1313 opened #217 "Should FungibleTokenBuilder and NonFungibleTokenBuilder heldBy function receive a Party ?"
Normally when you build a Token the

[2021-02-09 20:08] arsalankhalid commented on #207
Is this ever going to be addressed?

[2021-04-06 15:30] roastario commented on #211
@dazraf thanks for this - I will take a look at it.

The complexity comes from maintaining compatibility with existing tokens out there.

[2021-04-16 09:02] alch3mistdev opened #223 "Agent artifact missing workflows dependency."
Our original deployment consisted of three separate Jars for Agent node.
payments-contracts
payments-workflows
payments-agent

Currently we are not providing payments-workflows, it is NOT included in Agent Jar currently. We can switch the build.gradle from `cordaCompile` to `compile` to reduce the number of artifacts and have it included.

Bug raised during test when `deployNodes` would not resolv

[2021-04-16 09:17] alch3mistdev commented on #223
wrong repo.

[2021-04-16 09:17] #223 closed, assigned to nobody

[2021-06-03 18:45] dazraf commented on #211
Thanks @roastario. Yes, compatibility is tricky. Perhaps we can do a f2f chat about it. Happy to be of help.

[2021-07-13 11:41] rach-id commented on #207
I had this same issue lately  :(
The way I solved it is via sharing the transaction with the issuer and asking it to record all visible states (via a responder):
- On the node starting the flow:
[code]
- On the issuing node:
[code]

Then, to get the balance, you should query `ALL` states instead of `RELEVANT` ones.

[2021-07-14 04:42] manosbatsis commented on #207
Is this the right way for parties to keep tabs on tokens they have issued though? Seems like additional room for a junior/careless dev to mess up in some way or other with e.g. token selection.

Never saw a need for someting like this tbh, always used separate, custom states to support processes resulting in issuance/transfer/redemption, easier to work with in most cases. Curious about what requir

[2021-07-14 08:20] rach-id commented on #207
Agreed, it is hacky :D
What do you mean by `custom states to support processes resulting in issuance/transfer/redemption`? Keeping track of the results in states you manage manually ? and share them if some other party needs to know ?

[2021-07-14 15:06] manosbatsis commented on #207
E.g. an `IssueRequestState` used to accommodate interactivity/negotiations between parties around an issuance request/offer.

[2021-07-14 21:13] rach-id commented on #207
Wouldn't that be redoing a part of what the tokens SDK is doing ? Since they already handle parts of keeping the issuance stored and others...

[2021-07-14 21:39] manosbatsis commented on #207
Custom transaction items support the functional scope. A purchase order provides more context that a couple of balance updates. This is one of the reasons the SDK is layered in flows, inline flows and TX item adding functions - it's about what some definition of "atomic" TX is supposed to include.

[2021-07-16 10:58] rach-id commented on #207
Sorry for the late reply.
Makes sense this way. Agreed. Thanks a lot for the insights

[2021-08-11 11:56] rach-id commented on #158
anything on this ?

[2021-10-13 12:20] sandeepnRES opened #227 "FungibleToken and NonFungibleToken Contract too strict (doesn't allow other states in same transaction)"
Hi,

Can the contracts for FungibleToken and NonFungibleToken be relaxed, as right now it doesn't allow any state to be present in any of the transactions, except token.

But what if we want to use FungibleToken along with other states in some transactions, we could get help if you can relax the contracts, by checking only `StateOfType<FungibleToken>`?

Let's say we have IOU example, and we want t

[2021-11-13 15:37] hecong-cac commented on #180
should with the following(change enabled to false if you want to disable in-memory token selection ):
[code]
↑ work to me

[2021-12-16 15:46] marioolislaegers commented on #227
I'm running into a similar issue, I want to lock/freeze a certain amount of Evolvable Tokens for the duration of an auction. I'm not sure how to do this with the Tokens SDK in current structure.

[2021-12-16 18:02] marioolislaegers opened #232 "Not possible to freeze/lock an amount of tokens?"
I'm looking to place a certain amount of Evolvable Tokens  in an auction, for that I need to prevent the owner from moving the tokens while the auction is running.

As far as I know this is not possible with the current setup?

[2022-02-11 00:45] TywinLannister1313 commented on #197
I ran into the same problem.  I think the code in UpdateDistributionListFlow has been written to assume an EvolvableTokenType only has a single maintainer during an Issue.  Whereas the Move logic properly assumes there may be more than one maintainer.  The comments confirm the developer's thinking on this:

[code]

I have been getting around this by always self-issuing tokens and then performing a

[2022-02-11 16:58] willhr3 commented on #232
@marioolislaegers You can encumber the tokens with another state whereby the contract code enforces the lock constraints you want.

[2022-03-03 11:43] #232 closed, assigned to nobody

[2022-03-18 12:42] dineralex commented on #227
Agree with this issue.  Each initiating flow must have a constructor with possibility to pass TransactionBuilder, such that initiator will be able to place additional states changes proposals into transaction. The token contract itself must have a hook for aditional validations for the issue,move and redeem, in the same way like EvolvableTokenContract have it.